@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 0.3rem;
  position: relative;
  height: 3.5rem;
}
header .header-title {
  height: 1.6rem;
  margin-top: 0.8rem;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #eaeaea;
  padding: 0.1rem;
}
.city .localisation {
  font-size: 1rem;
  font-weight: 500;
  color: #3b3a3a;
}

.explorer {
  text-align: center;
  background-color: #f6f6f6;
  height: 17rem;
  margin-top: -1.2rem;
}
.explorer h1 {
  font-size: 1.5rem;
  padding-top: 2rem;
}
.explorer .explorer__p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #656565;
}
.explorer .btn-explorer {
  background-image: linear-gradient(#FF79DA, #9356DC);
  height: 3rem;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border-style: none;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 1px 4px 16px -3px #bbbbbb;
  margin-top: 1rem;
}
.explorer .btn-explorer:hover {
  cursor: pointer;
  box-shadow: 1px 4px 16px -3px #a1a1a1;
  opacity: 0.7;
}

.fonctionnement {
  padding: 0 1rem;
  counter-reset: etape;
}
.fonctionnement h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
  margin-left: -25px;
}
@media all and (max-width: 920px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  background-color: #f6f6f6;
  padding: 1.8rem 2rem;
  flex-grow: 1;
  font-weight: 400;
  border-radius: 1.3rem;
  box-shadow: 1px 4px 16px -3px #bbbbbb;
  list-style-type: none;
  position: relative;
}
.fonctionnement li::before {
  content: counter(etape);
  counter-increment: etape;
  background-color: #9356DC;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: white;
  position: absolute;
  bottom: 1.3rem;
  left: -1rem;
}
.fonctionnement li:hover {
  cursor: pointer;
  box-shadow: 1px 4px 16px -3px #a1a1a1;
  background-color: #f4edff;
}
.fonctionnement li:hover i.fas {
  color: #9356DC;
}
.fonctionnement li i.fas {
  margin-right: 0.7rem;
}

.menus {
  padding: 2rem 1.5rem 3.5rem 1.5rem;
  background-color: #f6f6f6;
  margin-top: 3.7rem;
}
.menus h2 {
  margin-bottom: 2rem;
}
.menus .all-restaurants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media all and (max-width: 780px) {
  .menus .all-restaurants {
    grid-template-columns: 1fr;
  }
}
.menus .card {
  border-radius: 1rem;
  box-shadow: 1px 4px 16px -3px #bbbbbb;
}
.menus .card .card-img {
  margin-bottom: -0.5rem;
}
.menus .card .card-img img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-position: center;
}
.menus .card:hover {
  cursor: pointer;
  box-shadow: 1px 4px 16px -3px #a1a1a1;
}
.menus .new {
  position: relative;
  box-shadow: 1px 4px 16px -3px #bbbbbb;
  border-radius: 1rem;
}
.menus .new:hover {
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 1px 4px 16px -3px #a1a1a1;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 1.8rem;
  width: 5rem;
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  color: green;
  right: 1rem;
  top: 1rem;
  border-radius: 0.3rem;
}
.menus .card-description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .card-description h3, .menus .card-description p {
  margin: 0 0 0 1rem;
}
.menus .card-description h3 {
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.menus .card-description p {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.menus .card-description i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card-description .fas {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.menus .card-description .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

footer {
  padding: 0.7rem 0 1rem 1.5rem;
  background-color: #353535;
}
@media all and (min-width: 780px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
footer h3, footer a {
  color: white;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
}
footer .liens-footer {
  display: flex;
  flex-direction: column;
}
footer a {
  font-family: "Roboto", sans-serif;
  padding-bottom: 0.5rem;
}
footer .fa-utensils {
  padding-right: 0.4rem;
  font-size: 0.8rem;
}
footer .fa-hands-helping {
  font-size: 0.6rem;
  padding-right: 0.3rem;
}

#restaurant-page {
  background-color: #f6f6f6;
}

header {
  background-color: white;
}

.header-title {
  position: relative;
}

.back {
  position: absolute;
  left: 0;
  bottom: 2px;
  padding: 0 0 0.7rem 1.2rem;
  font-size: 1.2rem;
}

.restaurant-image img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

.restaurants-title {
  position: relative;
  padding: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  margin-top: -3rem;
}
.restaurants-title > h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
}
.restaurants-title .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 1.9rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurants-title .solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.restaurants-title .solid:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}

.food-main {
  padding: 0 1.2rem;
  background-color: #f6f6f6;
}
@media all and (max-width: 360px) {
  .food-main {
    padding: 0 1rem;
  }
}
.food-main h3, .food-main p {
  margin: 0;
  padding: 0rem;
}
.food-main .food {
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media all and (max-width: 1235px) {
  .food-main .food {
    grid-template-columns: 1fr;
  }
}
.food-main .food .menu-category {
  overflow: hidden;
}
.food-main .menu-title {
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}
.food-main .menu-title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.food-main .menu-items {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  height: 4.5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 2px 5px #d4d3d3;
  animation: appear 1.5s;
  animation-fill-mode: both;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food-main .menu-items .menu-items__price {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.food-main .menu-items .menu-items__check {
  background-color: #99E2D0;
  width: 0;
  transition: all 1s;
  display: grid;
  place-items: center;
}
.food-main .menu-items .menu-items__check .fa-check-circle {
  font-size: 1.5rem;
  color: white;
}
.food-main .menu-items:hover .menu-items__check {
  width: 4rem;
  display: grid;
  place-items: center;
}
.food-main .menu-items:hover .fa-check-circle {
  animation: check-spin 1s;
}
.food-main .menu-items .menu-items__description {
  padding: 1rem;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food-main .menu-items .menu-items__description .menu-items-description__p {
  font-weight: 300;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food-main .menu-items .menu-items__description .menu-items-description__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.food-main .delay-1 {
  animation: appear 2s;
}
.food-main .delay-2 {
  animation: appear 2.5s;
}
.food-main .delay-3 {
  animation: appear 3s;
}
.food-main .order {
  background-image: linear-gradient(#FF79DA, #9356DC);
  height: 3rem;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border-style: none;
  font-weight: 400;
  font-size: 1rem;
  box-shadow: 1px 4px 16px -3px #bbbbbb;
  margin-top: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.food-main .order:hover {
  cursor: pointer;
  box-shadow: 1px 4px 16px -3px #a1a1a1;
  opacity: 0.7;
}

@keyframes appear {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes color-loader {
  0% {
    color: #99E2D0;
    transform: scale(0.5);
  }
  20% {
    color: #FF79DA;
    transform: scale(1);
  }
  33% {
    color: #9356DC;
    transform: scale(0.5);
  }
  50% {
    color: #99E2D0;
    transform: scale(1);
  }
  66% {
    color: #FF79DA;
    transform: scale(0.5);
  }
  80% {
    color: #9356DC;
    transform: scale(1);
  }
  100% {
    color: #99E2D0;
    transform: scale(1);
  }
}
@keyframes check-spin {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 1ms 3s forwards;
}
.loader .loader-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 4rem;
  animation-name: color-loader;
  animation-duration: 3s;
}
