header {
    text-align: center;
    box-shadow: 0 0 0.5rem grey;
    padding: 0.3rem;
    position: relative;
    height: 3.5rem;

    .header-title {
        height: 1.6rem;
        margin-top: 0.8rem;
    }
}